@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@400;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

li,
a,
h2,
h1,
p,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  margin-right: auto;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.nav_items {
  list-style: none;
}

.nav_items li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_items li a {
  transition: all 0.3s ease 0s;
}

.nav_items li a:hover {
  color: rgb(255, 174, 0);
}

button {
  margin-left: 25px;
  padding: 9px;
  color: black;
  background-color: rgba(255, 174, 0, 1);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #edf0f1;
  background-color: rgba(0, 136, 169, 0.8);
}

.my_photo {
  width: 250px;
  border-radius: 25px;
  margin: 100px 100px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  font-family: "Montserrat", sans-serif;
  color: #edf0f1;
  text-decoration: none;
}

.description h3 {
  font-weight: 700;
  font-size: 26px;
}

.description h3 span {
  color: rgb(255, 174, 0);
}

.description p {
  font-weight: 500;
  font-size: 20px;
  margin: 15px 10px;
  margin-left: 0;
  margin-right: 80px;
  line-height: 1.4;
}

.description p span {
  font-weight: 700;
  color: rgb(255, 174, 0);
}

.bn_text {
  font-family: "Noto Serif Bengali", sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  margin: 0 50px 70px 50px;
}

.bn_bold {
  font-weight: 700;
  color: rgb(255, 174, 0);
}
/* Services page */
/* .service_items_container {
  display: flex;
} */
h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 70px 50px;
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 70px 50px;
  text-align: center;
}
.flex_container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 100px;
}

.flex_container2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: 50px 100px;
}

.service_details {
  margin-left: 100px;
}

.service_details2 {
  margin-right: 100px;
}

.flex_container2 .service_details {
  margin: 0;
}

.service_details p {
  line-height: 1.5;
  margin-top: 15px;
}

.service_details2 p {
  line-height: 1.5;
  margin-top: 15px;
}

.page_setup {
  text-align: left;
  margin: auto;
}

.web_development {
  text-align: left;
  margin: auto;
}

.page_setup_icon {
  width: 250px;
}

.code_icon {
  width: 250px;
}

/* Contact section */
.fa {
  padding: 20px;
  font-size: 50px !important;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin: 50px 20px;
  border-radius: 60px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-telegram {
  background: white;
  color: #229ed9;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.social_media_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 100px;
}

footer p {
  font-size: 12px;
  text-align: center;
  margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }

  .logo {
    margin: 0;
  }

  .nav_items {
    /* display: inline-block;
    padding: 0px 20px; */
    margin-top: 8px;
    margin-bottom: 0;
  }
  button {
    display: inline-block;
    margin: 10px;
    padding: 9px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .my_photo {
    margin: 35px 50px 55px 50px;
  }

  .description {
    margin: 0px 60px 60px 60px;
    text-align: center;
  }

  .description p {
    margin: 0 65px;
  }

  .span {
    display: block;
  }

  .bn_text {
    font-size: 23px;
  }

  .flex_container1 {
    flex-direction: column;
    margin: 50px 0px;
  }

  .flex_container2 {
    flex-direction: column;
    margin: 50px 0px;
  }

  .service_details {
    margin: 30px 50px;
  }

  .service_details p {
    text-align: center;
  }

  .page_setup {
    text-align: center;
  }

  .service_details2 {
    margin: 30px 50px;
  }

  .service_details2 p {
    text-align: center;
  }
  .web_development {
    text-align: center;
  }

  /* Contact section */
  .fa {
    margin: 25px 10px;
  }

  .social_media_icons {
    flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .nav_items li {
    display: inline-block;
    padding: 0px 13px;
  }
  .description p {
    margin: 0 13px;
  }
  .bn_text {
    font-size: 20px;
  }
}
